<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <div class="logo-container">
    <img src="/assets/logo.png" id="logo" alt="logo.png" width="300px">
    <h3> Welcome <%= user ? user.profile.name : "friend" %> </h3>
  </div>

  <div class="container">
    <div class="row">
      <% profiles.forEach(profile => { %>
      <div class="column">
        <a href="/profiles/<%= profile._id %>">
          <% if (profile.avatar) { %>
            <img
              class="profile-img"
              src="<%= profile.avatar %>"
              alt="<%= profile.name %>'s avatar"
              width="20%"
            />
          <% } else {%>
            <img
              src="/images/icons/user.png"
              alt="A placeholder avatar"
              width="20%"
            />
            <% } %>
        </a>
        <p> <%= profile.name %> </p>
        <% }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
