<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <div class="logo-container">
    <a href="/profiles/<%= user.profile._id %>">
      <img
        class="profile-img self"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %>'s avatar"
        width="100%"
      />
  </a>
    <img src="/assets/logo.png" id="logo" alt="logo.png" width="300px">
    <h3> Welcome <%= user ? user.profile.name : "friend" %> </h3>
  </div>

  <div class='profile-container'>
      <% profiles.forEach(profile => { %>
      <div class='profile-card'>
        <a href="/profiles/<%= profile._id %>">
          <% if (profile.avatar) { %>
            <img
              class="profile-img"
              src="<%= profile.avatar %>"
              alt="<%= profile.name %>'s avatar"
              width="100%"
            />
          <% } else {%>
            <img
              src="/images/icons/user.png"
              alt="A placeholder avatar"
              width="100%"
            />
            <% } %>
        </a>
        <p> <%= profile.name %> </p>
      </div>
        <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
