<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/profile-show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1><%= isSelf ? "Your watchlists:" : `${profile.name}'s watchlists:` %></h1>

  <% if(isSelf) { %> 

    <% if (profile.watchlists.length) { %>
      <div class="show-table-container">
    <table>
      <tbody>
    <% profile.watchlists.forEach(watchlist => { %>
          <tr>
            <td><a href="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>"><%= watchlist.watchlistTitle %></a></td>
            <td><%= watchlist.description %></td>
            <td>
                <% watchlist.coins.forEach(coin => { %>
                  <img src="<%= coin.image %>" width="40px"></img>
                <% }) %>
            </td>
          </tr>
    <% }) %>
        </tbody>
      </table>
    </div>

      <div>
        <div class="wrapper">
          <div class="wrap-1">
            <input type="checkbox" id="tab-1" name="tabs">
            <label for="tab-1"><div>Create New Watchlist</div><div class="cross"></div></label>

            <div class="content">
              <form action="/profiles/<%= profile._id %>/watchlists" method="POST" >
                <label for="title">Title</label>
                <input type="text" placeholder="Title" id="title" name="title" autocomplete="off" required>
                <label for="description">Description</label>
                <input placeholder="Tell people about your list" id="description" name="description" autocomplete="off"></input>
                <button type="submit" class="button button-outline">TO THE MOON! <i class="fas fa-rocket"></i> <i class="far fa-moon"></i></button>
              </form>
              <% } else { %>
              <form action="/profiles/<%= profile._id %>/watchlists" method="POST">
                  <label for="title">Title</label>
                  <input type="text" placeholder="Title" id="title" name="title" autocomplete="off" required>
                  <label for="description">Description</label>
                  <input placeholder="Tell people about your list" id="description" name="description"></input>
                  <button type="submit" class="button button-outline">TO THE MOON! <i class="fas fa-rocket"></i> <i class="far fa-moon"></i></button>
              </form>
            </div>
          </div>
      </div>
      </div>

    <% } %>

   <% } else { %>

    <% if (profile.watchlists.length) { %>
      <div class="show-table-container">
    <table>
      <tbody>
    <% profile.watchlists.forEach(watchlist => { %>
          <tr>
            <td><a href="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>"><%= watchlist.watchlistTitle %></a></td>
            <td><%= watchlist.description %></td>
            <td>
                <% watchlist.coins.forEach(coin => { %>
                  <img src="<%= coin.image %>" width="40px"></img>
                <% }) %>
            </td>
          </tr>
    <% }) %>
        </tbody>
      </table>
    </div>
    <% } else { %> 
    <h1><%= profile.name %> doesn't have any watchlists yet</h1>
    <% } %>
  <% } %>

<%- include('../partials/footer') %>