<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/profile-show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1><%= isSelf ? "My Profile" : profile.name %></h1>

  <% if (isSelf) {%> 
    <% if (profile.watchlists.length) { %>
      <div class="show-table-container">
    <h1> Your Watchlists: </h1>
    <table>
      <tbody>
    <% profile.watchlists.forEach(watchlist => { %>
          <tr>
            <td><a href="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>"><%= watchlist.title %></a></td>
            <td><%= watchlist.description %></td>
            <td>
              <% watchlists.forEach(watchlist => { %>
                <% watchlist.coins.forEach(coin => { %>
                  <img src="<%= coin.image %>" width="40px"></img>
                <% }) %>
              <% }) %>
          </td>
          </tr>
    <% }) %>
        </tbody>
      </table>
    </div>

      <div>
      <form action="/profiles/<%= profile._id %>/watchlists" method="POST" >
        <label for="title">Title</label>
        <input type="text" placeholder="Title" id="title" name="title" autocomplete="off" required>
        <label for="description">Description</label>
        <input placeholder="Tell people about your list" id="description" name="description" autocomplete="off"></input>
        <button type="submit" class="button button-outline">TO THE MOON! <i class="fas fa-rocket"></i> <i class="far fa-moon"></i></button>
    </form>
    <% } else { %>
      <form action="/profiles/<%= profile._id %>/watchlists" method="POST">
          <label for="title">Title</label>
          <input type="text" placeholder="Title" id="title" name="title" autocomplete="off" required>
          <label for="description">Description</label>
          <input placeholder="Tell people about your list" id="description" name="description"></input>
          <button type="submit" class="button button-outline">TO THE MOON! <i class="fas fa-rocket"></i> <i class="far fa-moon"></i></button>
      </form>
      </div>

    <% } %>
  <% } %>

<%- include('../partials/footer') %>
