<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>

<div class="search-container">
  <div class="search">
    <form>
      <fieldset>
        <input type="text" placeholder="Search" name="query" autocomplete="off">
        <button type="submit" class="button button-outline submit-btn">Search</button>
      </fieldset>
    </form>
  </div>
</div>

<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Current Price</th>
      </tr>
    </thead>
    <tbody>
        <% coins.forEach(coin => { %>
            <tr>
              <td> <a href='coins/<%= coin.id %>/show'><img src='<%= coin.image %>' width="50px" alt='<%= coin.id %> logo'></a> </td>
              <td> <a href='coins/<%= coin.id %>/show' class="index-link"> <strong><%= coin.symbol.toUpperCase() %></strong> </a> </td>
              <td> <a href='coins/<%= coin.id %>/show' class="index-link"> <%= coin.name %> </a> </td>
              <td> $<%= coin.current_price > 1 ? coin.current_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') : coin.current_price %> </td>
            </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
