<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>

<div class="search-container">
  <div class="search">
    <form action="/api/coins" method="POST" class="search-form">
      <fieldset>
        <input type="search" placeholder="Search" name="query" autocomplete="off" aria-label="Search coinGecko database">
        <button type="submit" class="button button-outline submit-btn">Search</button>
      </fieldset>
    </form>
    <small><p> &nbsp; Search by CoinGecko Id</p></small>
  </div>
</div>

<a href="/api/coins/trending" class="button button-outline">Trending <i class="fas fa-rocket"></i></a>

<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
        <% coins.forEach(coin => { %>
            <tr>
              <td> <a href='coins/<%= coin.id %>/show'><img src='<%= coin.image %>' width="50px" alt='<%= coin.id %> logo'></a> </td>
              <td> <a href='coins/<%= coin.id %>/show' class="index-link"> <strong> <%= coin.name %> </strong> </a> </td>
              <td> <a href='coins/<%= coin.id %>/show' class="index-link"> <span class="symbol-text"><%= coin.symbol.toUpperCase() %></span> </a> </td>
              <td> $<%= coin.current_price > 1 ? coin.current_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') : coin.current_price %> </td>
            </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
