<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/coin-show.css">
<%- include('../partials/nav') %>

<main>
    <img src='<%= coin.image.large %>' width="100px" alt='<%= coin.id %>'>
    <h1><%= coin.name %></h1>

<div class="container">
<div class="row">
    <div class="column">
        <h2><strong><%= coin.symbol.toUpperCase() %></strong></h2>
    </div>
    <div class="column"> 
        Current Price: 
        <br> 
        <h2>$<%= coin.market_data.current_price.usd.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></h2>
    </div>
    <div class="column"> 
        Price Change 24hr: 
        <br>
        <h2>
            <span  class="<%= coin.market_data.price_change_24h >= 0 ? "bullish" : "bearish" %>">
                $<%= coin.market_data.price_change_24h %>
            </span> 
        </h2> 
    </div>
    <div class="column">
         Market Cap:
         <br>
        <h2>$<%= coin.market_data.market_cap.usd.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></h2>
    </div>
</div>
</div>

<div class="wrapper">
    <div class="wrap-1">
      <input type="checkbox" id="tab-1" name="tabs">
      <label for="tab-1"><div>About</div><div class="cross"></div></label>
      <div class="content"><p> <%- coin.description.en %> </p> </div>
    </div>
</div>

<div class="wrapper">
    <div class="wrap-1">
      <input type="checkbox" id="tab-2" name="tabs">
      <label for="tab-2"><div>Add to watchlist</div><div class="cross"></div></label>
      <div class="content">
            <% if(profile.watchlists.length) { %>
            <% profile.watchlists.forEach(watchlist => { %>
                    <form action="/api/coins/<%= coin.id %>" method="POST">
                        <input value= "<%= watchlist._id %>" name="watchlistId">
                        <button class="button button-clear show-add-btn" type="submit">
                            <i class="fas fa-plus-circle"></i>
                            <%= watchlist.title %>
                        </button>
                    </form>
            <% }) %>
            <% } else { %>
            <h1><i class="far fa-eye-slash"></i> You don't have any watchlists yet</i></h1>
            <% } %>
        </div>
    </div>
</div>



</main>

<%- include('../partials/footer') %>
