<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/coin-show.css">
<%- include('../partials/nav') %>

<main>
    <img src='<%= coin.image.large %>' width="100px" alt='<%= coin.id %>'>
    <h1><%= coin.name %></h1>

<div class="container">
<div class="row">
    <div class="column">
        <h2><strong><%= coin.symbol.toUpperCase() %></strong></h2>
        <% if(coin.hashing_algorithm) { %>
            <p><%= coin.hashing_algorithm %></p>
        <%} %>
    </div>
    <div class="column"> 
        Current Price: 
        <br> 
        <h2>$<%= coin.market_data.current_price.usd.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></h2>
    </div>
    <div class="column"> 
        Price Change 24hr: 
        <br>
        <h3>
            <span  class="<%= coin.market_data.price_change_24h >= 0 ? "bullish" : "bearish" %>">
                $<%= coin.market_data.price_change_24h %>
            </span> 
        </h3> 
    </div>
    <div class="column">
         Market Cap:
         <br>
        <h3>$<%= coin.market_data.market_cap.usd.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></h2>
    </div>
</div>
</div>

<table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Market Cap Rank</th>
        <th>Price Change 24h</th>
        <th>Price Change 7d</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= coin.categories[0] %> </td>
        <td> <%= coin.market_cap_rank %> </td>
        <% trim = (num) => Number.parseFloat(num).toFixed(2) %>
        <td> 
            <span  class="<%= coin.market_data.price_change_percentage_24h >= 0 ? "bullish" : "bearish" %>">
                <%= trim(coin.market_data.price_change_percentage_24h) %>% 
            </span> 
        </td>
        <td> 
            <span  class="<%= coin.market_data.price_change_percentage_7d >= 0 ? "bullish" : "bearish" %>">
                <%= trim(coin.market_data.price_change_percentage_7d) %>%
            </span> 
        </td>  
      </tr>
    </tbody>
  </table>

  <div class="socials">
    <% if(coin.links.homepage[0]){ %> 
        <a href="<%= coin.links.homepage[0] %>" target="_blank"><h2><i class="fas fa-external-link-alt"></i></h2></a> 
        <% } %>
        <% if(coin.links.twitter_screen_name){ %> 
        <a href="https://twitter.com/<%= coin.links.twitter_screen_name %>" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a>
        <% } %>
        <% if(coin.links.subreddit_url){ %> 
        <a href="<%= coin.links.subreddit_url %>" target="_blank"><h2><i class="fab fa-reddit-alien"></i></h2></a>
        <% } %>
        <% if(coin.links.repos_url.github[0]){ %> 
        <a href="<%= coin.links.repos_url.github[0]%>" target="_blank"><h2><i class="fab fa-github"></i></h2></a> 
        <% } %>
  </div>

<div class="wrapper">
    <div class="wrap-1">
      <input type="checkbox" id="tab-1" name="tabs">
      <label for="tab-1"><div>About</div><div class="cross"></div></label>
      <div class="content"><p> <%- coin.description.en %> </p> </div>
    </div>
</div>

<% if(coin.status_updates.length){ %>
<div class="wrapper">
    <div class="wrap-1">
      <input type="checkbox" id="tab-3" name="tabs">
      <label for="tab-3"><div>Recent News</div><div class="cross"></div></label>
      <div class="content">
            <% coin.status_updates.forEach(status => { %>
            <div>
                <% const formatDate = (dateString) => { %>
                    <% const options = { year: "numeric", month: "long", day: "numeric" } %>
                    <% return new Date(dateString).toLocaleDateString(undefined, options) %>
                <% } %>
                  <p> <%= formatDate(status.created_at) %></p>
                <%- status.description %>
                 <br>
                 <small>User: <%= status.user %> </small>
                 <small><em><%= status.user.title %></em></small>
                </div>
                <% }) %>
    </div>
    </div>
</div>
<% } %>

<div class="wrapper">
    <div class="wrap-1">
      <input type="checkbox" id="tab-2" name="tabs">
      <label for="tab-2"><div>Add to watchlist</div><div class="cross"></div></label>
      <div class="content">
            <% if(profile.watchlists.length) { %>
            <% profile.watchlists.forEach(watchlist => { %>
                    <form action="/api/coins/<%= coin.id %>" method="POST">
                        <input value= "<%= watchlist._id %>" name="watchlistId">
                        <button class="button button-clear show-add-btn" type="submit">
                            <i class="fas fa-plus-circle"></i>
                            <%= watchlist.watchlistTitle %>
                        </button>
                    </form>
            <% }) %>
            <% } else { %>
            <h1><i class="far fa-eye-slash"></i> You don't have any watchlists yet</i></h1>
            <% } %>
        </div>
    </div>
</div>



</main>

<%- include('../partials/footer') %>
