<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
    <img src='<%= coin.image.large %>' width="100px" alt='<%= coin.id %>'>
    <h1><%= coin.name %></h1>

<div class="container">
<div class="row">
    <div class="column"><strong><%= coin.symbol.toUpperCase() %></strong> </div>
    <div class="column"> 
        Current Price: $<%= coin.market_data.current_price.usd.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %> 
    </div>
    <div class="column"> Price Change 24hr: $<%= coin.market_data.price_change_24h %> </div>
    <div class="column">
         Market Cap: $<%= coin.market_data.market_cap.usd.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
    </div>
</div>

</div>
              
<p> <%- coin.description.en %> </p>
</main>

<%- include('../partials/footer') %>
