<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
    <img src=<%= coin.image.large %> width="100px">
    <h1><%= coin.name %></h1>

<div class="container">
<div class="row">
    <div class="column"><strong><%= coin.symbol.toUpperCase() %></strong> </div>
    <div class="column"> $<%= coin.market_data.current_price.usd %> </div>
    <div class="column"> 
        Price Change 24hr $<%= coin.market_data.price_change_24h %> 
    </div>
</div>

</div>
              
<p>About (Dropdown)</p>
<p> <%- coin.description.en %> </p>
</main>

<%- include('../partials/footer') %>
