<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>

<a href="/api/coins" class="button button-outline">Top Coins</i></a>

<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Market Cap Rank</th>
      </tr>
    </thead>
    <tbody>
        <% coins.forEach(coin => { %>
            <tr>
              <td> 
                    <a href='<%= coin.item.id %>/show'>
                        <img src='<%= coin.item.large %>' width="50px" alt='<%= coin.item.id %> logo'>
                    </a> 
                </td>
                <td> 
                    <a href='<%= coin.item.id %>/show' class="index-link">
                         <strong> <%= coin.item.name %> </strong> </a> 
                </td>
                <td>
                    <a href='<%= coin.item.id %>/show' class="index-link">
                        <span class="symbol-text"><%= coin.item.symbol.toUpperCase() %></span>
                    </a>
                </td>
                <td>
                    <%= coin.item.market_cap_rank %> 
                </td>
            </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
