<%- include('../../partials/header') %>
<link rel="stylesheet" href="/stylesheets/watchlist-show.css">
<%- include('../../partials/nav') %>

<main>
    <header>
        <h1><%= watchlist.watchlistTitle %></h1>
        <small><p><%= isSelf ? "Your watchlist" : `${profile.name}'s watchlist` %></p></small>
        <h4> <%= watchlist.description %> </h4>
    </header>



<div class="watchlist">
    <% watchlist.coins.forEach(coin => { %>
        <div class="coin-container">
            <a href="/coins/<%= coin.id %>/show" alt="info about <%= coin.id %>"><img src="<%= coin.image %>" alt="<%= coin.id %>" width="90px"></a>
            <br>
            <a href="/coins/<%= coin.id %>/show" alt="info about <%= coin.id %>"><span class="symbol"><%= coin.symbol %></span></a>
            
            <% if(isSelf) { %>
            <form action="/profiles/watchlists/<%= watchlist.id %>/show/<%= coin._id %>?_method=DELETE" method="POST">
                <button 
                    type="submit" 
                    class="button button-clear"
                    id="delete-coin" 
                >
                <h4><i class="far fa-eye-slash fa-hover-hidden"></i> <i class="fas fa-eye-slash fa-hover-show"></i></h4>
                </button>
            </form>
            <% } %>
        </div>
        <% }) %>
</div>
        
<% if(isSelf) { %>
<a href='/coins'><h1>Add Coins 
    <i class="far fa-plus-square fa-hover-hidden"></i>
    <i class="fas fa-plus-square fa-hover-show"></i>
    <i class="fas fa-coins fa-hover-show"></i>
</h1>
</a>
<% } %>

<% if(isSelf) { %>
    <div class="options">
        <a href="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>/edit" class="button button-clear">
            <h1><i class="far fa-edit fa-hover-hidden"></i> <i class="fas fa-edit fa-hover-show"></i></h1>
        </a>
        <form
            action="/profiles/watchlists/<%= watchlist._id %>?_method=DELETE"
            method="POST"
            >
            <button 
                type="submit" 
                class="button button-clear"
                id="delete" 
            >
            <h1><i class="far fa-trash-alt"></i></h1>
            </button>
        </form>
    </div>
<% } %>

<% if(watchlist.comments.length) { %>
    <h4>Comments:</h4>
    <% watchlist.comments.forEach(comment => { %>
        <p class='comment-author'> Author: <%= comment.author %> </p>
        <div class="comment-card">
        <p> <%= comment.text%> </p>
        <% if(isSelf) { %>
            <form
            action="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>/comments/<%= comment._id %>?_method=DELETE"
            method="POST"
            >
            <button 
                type="submit" 
                class="button button-clear"
                class="comment-delete" 
            >
            <h1><i class="far fa-trash-alt"></i></h1>
            </button>
        </form>
        <% } %>
        </div>
    <% }) %>

    <% if(!isSelf){ %> 
    <form action="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>/comment?_method=PUT" method="POST">
        <p><%= profile._id %></p>
        <label for="author">
            <input type="text" id="author" value="<%=user.profile.name%>" disabled>
            <input type="hidden" name="author" value="<%=user.profile.name%>">
        </label>
        <label for="text">
            <textarea type="text" id="text" placeholder="Comment" name="text"></textarea>
        </label>
        <button type="submit">Add Comment</button>
    </form>
    <% } %>

<% } else { %>
<p>No comments yet</p>
<% if(!isSelf){ %> 
    <form action="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>/comment?_method=PUT" method="POST">
        <label for="author">
            <input type="text" id="author" value="<%=user.profile.name%>" disabled>
            <input type="hidden" name="author" value="<%=user.profile.name%>">
        </label>
        <label for="text">
            <textarea type="text" id="text" placeholder="Comment" name="text"></textarea>
        </label>
        <button type="submit">Add Comment</button>
    </form>
    <% } %>
<% } %>

</main>

<%- include('../../partials/footer') %>
