<%- include('../../partials/header') %>
<%- include('../../partials/nav') %>

<main>
<h1><%= watchlist.title %></h1>
<p><%= isSelf ? "Your watchlist" : `${profile.name}'s watchlist` %></p>

<h4> <%= watchlist.description %> </h4>

<h1>Coins go here! <i class="fas fa-coins"></i></h1>

<% if(watchlist.comments.length) { %>
    <% watchlist.comments.forEach(comment => { %>
        <p> <%= comment.comment %> </p>
        <p> Author: <%= comment.author %> </p>
    <% }) %>
<% } else { %>
<p>No comments yet</p>
<% } %>

<% if(isSelf) { %>
    <a href="/profiles/<%= profile._id %>/watchlists/<%= watchlist._id %>/edit" class="button button-clear">
        <h1><i class="far fa-edit"></i></h1>
    </a>
    <form
        action="/profiles/watchlists/<%= watchlist._id %>?_method=DELETE"
        method="POST"
        >
        <button 
            type="submit" 
            class="button button-clear" 
            style="color:red"
        >
        <h1><i class="far fa-eye-slash"></i></h1>
        </button>
    </form>
<% } %>

</main>



<%- include('../../partials/footer') %>
